<div class="container">
  <div>
    <h1>Looking for sits?</h1>

    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q, nil, placeholder: 'Enter Location (e.g. Jurong East...)') %>
      <br/>
      <%= submit_tag("Search") %>
    <% end %>
    <%= button_to "Show All", users_path, method: :get %>
   
  </div>
</div>

