<div class="container swcontainer">
  <div class="slide1">
    <h1>Looking for seats?</h1>
    
    <%= form_with url: users_path, method: :get, local: true do |form| %>
      <%= form.text_field :search, class: "form-control", placeholder: "Enter a Restaurant Name" %>
      <br/>
      <%= form.submit "Search", class: "btn btn-default" =%>
    <% end %>
    <div class="showAllBtn">
    <%= button_to "Show All", users_path, method: :get, class: "btn btn-default" %>
    </div>
  </div>
</div>