<h1>Crowded Or Not?</h1>

<h3>Sign Up Now</h3>

<p><%= link_to 'I Am A Restaurant', new_user_registration_url, method: :get %></p>
<p><%= link_to 'I Am A Patron', new_patron_registration_url, method: :get %></p>