<h1>Patrons#edit</h1>

<%= form_with scope: :patron, url: patron_path, method: :patch, local: true do |form| %>

  <p class="test">
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>