<div class="container">
<div class="row">
<div class="col-sm">

  <p>Check Out The Crowds At These Restaurants</p>
  <br/>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Restaurants</th>
        <th scope="col">Availability</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td>
          <td>Available</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
