<h1>Welcome Back, <%= @user.name%></h1>

  <table>
    <tr>
      <th>Seater</th>
      <th>Availablilty</th>
    </tr>

    <% @tables.each do |table| %>
      <tr>
        <td><%= table.seater %></td>
        <td><%= table.is_free %></td>
      </tr>
    <% end %>
  </table>
