<% if user_signed_in? %>

<h1>welcome <%= @current_user.name%></h1>

  <table>
    <tr>
      <th>Seater</th>
      <th>Availablilty</th>
      <th>user_id</th>
    </tr>

    <% @tables.each do |table| %>
      <tr>
        <td><%= table.seater %></td>
        <td><%= table.is_free %></td>
        <td><%= table.user_id %></td>
      </tr>
    <% end %>
  </table>
<% end %>