<h1>Tables#show</h1>
<p>Find me in app/views/tables/show.html.erb</p>

<table>
  <tr>
    <th>Seater</th>
    <th>Availablilty</th>
    <th>user_id</th>
  </tr>

  <% @tables.each do |table| %>
    <tr>
      <td><%= table.seater %></td>
      <td><%= table.is_free %></td>
      <td><%= table.user_id %></td>
    </tr>
  <% end %>
</table>