<h1>Table</h1>

<table>
  <tr>
    <th>Seater</th>
    <th>Availablilty</th>
    <th>user_id</th>
  </tr>

    <tr>
      <td><%= @table.seater %></td>
      <td><%= @table.is_free %></td>
      <td><%= @table.user_id %></td>
    </tr>
</table>