/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
//= require material_icons
@import "bootstrap";
@import "main.scss";
@import "users.scss";
@import "patrons.scss";
@import "favourites.scss";

.modal-header{
  align-items: center;
  justify-content: center;
  border-bottom: 0px;
}

.patronbtn{
  float: right;
  position: relative;
  left: -21%;
  width: 110px;
}

.userbtn{
  float: right;
  position: relative;
  left: -33%;
  width: 110px;
}

.modal_img{
  float: right;
  position: relative;
  left: -43%;
}

body{
  background-image: url("wallbg.jpeg");
}