/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
//= require material_icons
@import "bootstrap";
@import "main.scss";
@import "users.scss";
@import "tables.scss";
@import "patrons.scss";
@import "favourites.scss";

body {
  background-color: #eee2dc;
  color: #123c69;
  background-image: url("wallbg.jpeg");
}

a {
  text-decoration: none;
  color: #123c69;
}

footer a {
  color: #123c69;
}

a:hover,
i:hover {
  text-decoration: none;
  color: #ac3b61;
}

nav a {
  color: #eee2dc;
}

nav a:hover {
  color: #eee2dc;
  text-shadow: 2px 2px 8px #edc7b7;
}

.form-inline .form-control {
  background-color: #eee2dc;
  border: 1px solid #123c69;
  width: 150px;
}

// Modal ----------------------------------------------------------------------

.modal-header {
  align-items: center;
  justify-content: center;
  border-bottom: 0px;
}

.patronbtn {
  float: right;
  position: relative;
  left: -21%;
  width: 110px;
}

.userbtn {
  float: right;
  position: relative;
  left: -33%;
  width: 110px;
}

.modal_img {
  float: right;
  position: relative;
  left: -43%;
}

// ----------------------------------------------------------------------------

//navbar-----------------------------------------------------------------------
.navcontainer {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #123c69;
  border-color: #123c69;
}

.navbar-brand {
  margin-left: 10%;
}

.collapse {
  margin-right: 10%;
}

.navbar-light .navbar-toggler {
  border-color: #eee2dc;
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 1%;
  }
}

// ----------------------------------------------------------------------------

.page-footer {
  background-color: #bab2b5;
}

.footericons {
  margin-top: 20px;
}

#eksearch {
  opacity: 1;
  background-color: #eee2dc;
  margin-right: 20px;
  margin-left: 15px;
}

// ----------------------------------------------------------------------------

.alert {
  position: absolute;
  left: 1px;
  right: 1px;
  z-index: 99;
  text-align: center;
}
