// Theme ----------------------------------------------------------------------

$themeblue: #123c69;
$themepink: #ac3b61;
$themelbeige: #eee2dc;
$themesand: #edc7b7;
$themegrey: #bab2b5;

// Custom bootstrap variables must be set or imported BEFORE bootstrap.
//= require material_icons
@import "bootstrap";
@import "main.scss";
@import "users.scss";
@import "tables.scss";
@import "patrons.scss";
@import "favourites.scss";

// Body ----------------------------------------------------------------------

body {
  background-color: $themelbeige;
  color: $themeblue;
  background-image: url("wallbg.jpeg");
  font-family: "Josefin Sans", sans-serif;
}

.yield-container {
  padding-left: 0px;
  padding-right: 0px;
}

// Anchor ----------------------------------------------------------------------

a {
  text-decoration: none;
  color: $themeblue;
}

a:hover,
i:hover {
  text-decoration: none;
  color: $themepink;
}

// Modal ----------------------------------------------------------------------

.modal-header {
  align-items: center;
  justify-content: center;
  border-bottom: 0px;
}

.patronbtn {
  float: right;
  position: relative;
  left: -21%;
  width: 110px;
}

.userbtn {
  float: right;
  position: relative;
  left: -33%;
  width: 110px;
}

.modal_img {
  float: right;
  position: relative;
  left: -43%;
}

// Navbar ----------------------------------------------------------------------

.navcontainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $themeblue;
  border-color: $themeblue;
}

.navbar-light {
  .navbar-toggler {
    border-color: $themelbeige;
  }
}

nav a,
nav a:hover {
  color: $themelbeige;
}

nav a:hover {
  transform: translate(0%, -8%);
}

// nav signup btn
.themesignupbtn,
.themesignupbtn:hover,
.themesignupbtn:active,
.themesignupbtn:active:focus {
  background-color: $themelbeige;
  border: 1px solid $themelbeige;
  color: $themeblue;
}

// nav search bar
.form-inline .form-control {
  background-color: $themelbeige;
  border: 1px solid $themeblue;
  width: 150px;
}

#nav-search {
  opacity: 1;
  background-color: $themelbeige;
  margin-right: 20px;
  margin-left: 15px;
  width: 150px;
  text-align: left;
}

// Alert Modal ----------------------------------------------------------------------

.alert {
  position: absolute;
  left: 100px;
  right: 100px;
  text-align: center;
  background: transparent;
  border: none;
}

// Footer ----------------------------------------------------------------------

.page-footer {
  background-color: $themegrey;
  text-align: center;
  width: 100%;
}

// Titles ----------------------------------------------------------------------

.ektitle {
  font-size: 2rem;
  font-weight: bold;
}

.ektitlediv {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ektitledesc {
  font-size: 1rem;
}

// Cancel Btn ----------------------------------------------------------------------

.cancel-btn {
  background-color: transparent;
  border: 1px solid $themepink;
  color: $themepink;
}

.cancel-btn:hover {
  background-color: $themepink;
  color: $themelbeige;
}
