// Place all the styles related to the patrons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wycontainer {
   display: flex;
   flex-direction: row;
   height: 600px;
   width: 100%;
   justify-content: center;
}

.testing {
   height: 300px;
   position: relative;
   left: 15%;
   text-align: center;
}

.wyparticularh3 {
   display: inline;
}

.wyparticular {
   font-family: 'Oswald', sans-serif !important;
   padding-left: 10px;
   display: inline;
   align-self: center;
}

.wyprofileimg {
   // display: block;
   // margin: 0 auto;
   border: 5px, solid;
   border-radius: 90px;
}

.wyprofile {
   align-self: center;
}

.wybtns {
   position: relative;
   float: right;
   left: -20%;
   align-self: flex-end;
}

.wytitle {
   width: 500px;
   padding-bottom: 8px;
   margin-bottom: 16px;
   border-bottom: 1px solid #AEADAE;
}
