// Place all the styles related to the patrons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wycontainer {
   display: flex;
   flex-direction: row;
   height: 600px;
   width: 100%;
   justify-content: center;
}

.wyprofile {
   height: 300px;
   position: relative;
   left: 15%;
   text-align: center;
}

.wyparticularh3 {
   display: inline;
}

.wyparticular {
   font-family: 'Oswald', sans-serif !important;
   padding-left: 10px;
   display: inline;
   align-self: center;
}

.wyprofileimg, .wyprofileimg2 {
   // display: block;
   // margin: 0 auto;
   border: 5px, solid;
   border-radius: 90px;
}

.wyprofileimg2 {
   display: block;
   margin: 0 auto;
}

.wyprofilepic {
   align-self: center;
}

.wybtns {
   position: relative;
   float: right;
   left: -20%;
   align-self: flex-end;
}

.wytitle {
   width: 500px;
   padding-bottom: 8px;
   margin-bottom: 16px;
   border-bottom: 1px solid #AEADAE;
}


.wyEditTitle, .wycontainer2 {
   position: relative;
   top: 4%;
}

.wyEditTitle {
   border-bottom: 1px solid #AEADAE;
}


.wyEditPic {
   position: relative;
   height: 250px;
   margin-right: 10px;
   top: 8%;
}

.wyEditPic > button {
   display: block;
   margin: 10px auto 0 auto;
}

.wyEdit > label {
   margin: 0;
}

.wyEdit > input {
   margin-bottom: 15px;
}

.wyEditParticular {
   position: relative;
   top: 10%;
}

.wyEditSubmit input {
   position: relative;
   top: 10%;
   right: 60%;
   width: 200px;
}
