// Dashboard -----------------------------------------------------
.table-index-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.seater-div {
  text-align: center;
  width: 250px;
  height: 650px;
  margin: 2rem;
}

.seater-text {
  margin-top: -40px;
}

.card-div {
  background: transparent;
  border: 1px solid #ac3b61;
}

.adjustbtn-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.adjustbtn {
  background-color: #ac3b61;
  border: 1px solid #eee2dc;
  height: 50px;
  width: 50px;
  color: #eee2dc;
  font-size: 1.5rem;
}

.adjustbtn:hover,
.adjustbtn:active,
.adjustbtn:focus {
  background-color: #ac3b61;
  opacity: 0.9;
}

.separator {
  border: 0.8px solid #bab2b5;
  width: 80%;
  margin: 20px auto;
}
