// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.swcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 550px;
}

.swfield {
  display: block;
  margin: 15px;
}

.swfield input {
  width: 280px;
}

.swactions input[type="submit"] {
  position: relative;
  float: right;
  left: -30%;
}

.resetPassword input[type="submit"] {
  position: relative;
  float: right;
  left: -20%;
}

.detaildiv {
  margin-left: -20px;
}

.ekdetailbtn {
  margin-left: -65px;
}

.ekdetailbtn:hover {
  font-size: 105%;
}

.userindexdiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.ekusercard {
  background-color: #eee2dc;
  border: 1px solid transparent;
  margin: 20px;
}

.ekcardimg {
  height: 220px;
  border: 1px solid #000;
}

.booknowbtn {
  margin-left: -65px;
}

.booknowbtn:hover {
  font-size: 105%;
}

.returnicon {
  float: left;
}

.favouritebtn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  color: #ac3b61;
}
